/*GLOBAL DECLARATIONS*/
    /*IMPORTED FONTS
    font-family: 'Aclonica', sans-serif;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Marcellus SC', serif;
    font-family: 'Reggae One', cursive;
    font-family: 'Sigmar One', cursive;
    font-family: 'Roboto', sans-serif;
    if you import a font add it here^^^
    */
    :root {
        /*color variables*/
        --main_text: whitesmoke;
        --main_bg_color: black;
        --secondary_bg_color: rgb(0, 0, 0);
        --tertiary_bg_color: rgb(55, 67, 82);

        --border_color: rgb(44, 54, 82);
        --header_bg: var(--border_color);
        --highlight: rgba(50, 50, 50, 0.666);
        --button_highlight: rgb(148, 180, 180);

        --display_color: rgba(209, 206, 190, 0.33);
        --display_border: rgb(145, 128, 32);
        --lighter_bg: rgb(178, 185, 206);

        --input_bg: rgb(58, 55, 40);
        --box_33: rgba(50, 50, 50, 0.333);
        /*sizing variables*/
        --global_margin: 1rem;
        --global_padding: 1rem;
        --round_edge: 10px;
        --rounder_edge: 25px;
        --edge_inner: 22px;
        --border_size: 3px;
        --button-width: 255px;

        --box-width: 76px;
        --small_box_height: 108px; /* 1 REM/16*2 pixels of box width*/

        --larger-box-width: 348px;
    }

    * {
        padding: 0;
        margin: 0;
        color: var(--main_text);
        font-family: 'Roboto', sans-serif;
    }
    body {
        height: 100%;
        background-color: var(--main_bg_color);
    }
    .wrapper {
        margin: 0px auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 1080px;
        
        background-color: var(--wood_panel_color);
        background-image: url(../img/rocks_seamless_trans_50.png);
        background-repeat: repeat;
        border-radius: var(--rounder_edge);
    }
    /*BUTTON STYLES*/
    button {
        min-width: 136px;
        font-size: 1.25rem;
        font-family: 'Marcellus SC', serif;
        font-weight: bold;
        background-color: var(--tertiary_bg_color);
        border-color: var(--border_color);
        border-radius: var(--round_edge);
    }

        button:hover {
            background-image: url(../img/roughback2.png);
            background-size: cover;

            -moz-box-shadow: inset 0 0 10px var(--button_highlight);
            -webkit-box-shadow: inset 0 0 10px var(--button_highlight);
            box-shadow: inset 0 0 10px var(--button_highlight);
        }

/*MAIN DECLARATIONS*/
    /*FLEX PARENT: WRAPPER*/
    main {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
    }
    /*DIV ROW*/
    .column_wrap {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*BUTTON/DISPLAY BOXES*/

    .button_box, .display_box {
        width: var(--box-width);
        height: var(--box-width);
        border-radius: var(--round_edge);
        border-style: solid;
        border-color: var(--display_border);
    }

    .button_box:hover, .use_button:hover {
        -moz-box-shadow: inset 0 0 24px white;
        -webkit-box-shadow: inset 0 0 24px white;
        box-shadow: inset 0 0 24px white;

        color: black;

        transition: 250ms;
    }

    .locked:hover {
        border-color: grey;
    }

    .button_box {
        font-size: 0px;
    }

    .display_box {
        background-color: var(--display_color);
    }

        .display_box img {
            width: var(--box-width);
            height: var(--box-width);
        }

    /*UNIFORM BORDERS*/
    .small_box, #inventory_menu, #combat_screen_container, #interaction_menu {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: var(--rounder_edge);

        box-shadow:
        0px 0px 0px 3px var(--highlight),
        0px 0px 0px 6px var(--box_33),
        inset 0 0 10px var(--highlight);
        }

/*LEFT COLUMN*/
    /*MAIN COMBAT SCREEN*/

        /*MENU SPACING*/
        .menu_bar {
            display: flex;
            justify-content: space-between;
            padding: var(--global_padding);
            background-color: var(--secondary_bg_color);
            border-top-left-radius: var(--edge_inner);
            border-top-right-radius: var(--edge_inner);
        }

        h3 {
            font-family: 'Marcellus SC', serif;
        }

        /*COMBAT SCREEN*/
        /*combat screen = same dimensions as tavern*/
        /*area background image would change based on location*/
        #combat_screen {
            width: 640px;
            height: 348px;
            background-size: cover;
            background-image: url(../img/mountain_pass.png);

            border-bottom-left-radius: var(--edge_inner);
            border-bottom-right-radius: var(--edge_inner);

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            overflow: hidden;
        }

        /* ARMOR STYLING*/
        #chest{
            height: 78px;
        }
    
/*PLAYER/ENEMY AND HP BARS*/

    .combatant_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hp_bar_wrapper {
        width: 100px;
        height: 12px;
        background-color: black;
        opacity: 66%;
        border: 2px solid var(--border_color);

        display: flex;
        align-items: center;
    }

        /*PLAYER IMAGE AND ANIMATIONS*/
            #player_hp {
            margin-right: 100px;
            }

            #paladin_combat {
                position: relative;
                left: 0%;
                top: 20%;
            }

                #paladin_img  {
                    height: 348px;
                }

        /*ENEMY IMAGE AND ANIMATIONS*/
            .enemy_combat {
                position: relative;
                right: 0%;
                top: 40%;
            }

                #enemy_img, #enemy_death {
                    height: 272px;
                }

        /*INTERACTION MENU*/
        /*these images are currently hardcoded in for alpha
        if we add another class this will need to be changed*/
        #interaction_menu {
            border-bottom-left-radius: var(--rounder_edge);
            border-bottom-right-radius: var(--rounder_edge);

            width: 588px;

            margin: var(--global_margin) 0px;
            z-index: 1;
        }

        #interaction_menu form {
            margin-right: var(--global_margin);
            margin-left: var(--global_margin);
        }
        #action_1_button {
            background-image: url(../img/paladin_ability_1_icon.png);
            background-size: cover;
        }
        #action_2_button {
            background-image: url(../img/paladin_ability_2_icon_locked.png);
            background-size: cover;
        }
        #action_3_button {
            background-image: url(../img/paladin_ability_3_icon.png);
            background-size: cover;
        }
        #action_4_button {
            background-image: url(../img/paladin_ability_4_icon_locked.png);
            background-size: cover;
        }
        #action_5_button {
            background-image: url(../img/paladin_ability_5_icon_locked.png);
            background-size: cover;
        }

    /*ACTIONFEED/DESCRIPTION BOX*/
        #action_feed, .small_box {
            background-color: var(--lighter_bg);
            background-image: url(../img/cracked_concrete.png);
            background-size: cover;
        }

    /*ACTION FEED*/
        #action_feed {
            width: 588px;
            height: 272px;

            border-bottom-left-radius: var(--rounder_edge);
            border-bottom-right-radius: var(--rounder_edge);
            margin-top: -1rem;

            border: 2px solid black;
            box-shadow:
            0px 0px 0 6px var(--border_color),
            0px 0px 0 8px black,
            inset 0px 0px 4px 4px rgba(48, 35, 20, 0.75);

            overflow: hidden;
        }

        ul {
            padding: var(--global_padding);
        }

            li {
                list-style: none;
                color: black;
                font-size: 1.25rem;
            }

/*RIGHT COLUMN*/
    /*INVENTORY MENU*/
    /*SAME STYLING AS OTHER DISPLAY BOXES*/
    #inventory_menu {
        width: var(--larger-box-width);
        height: 540px;
        background-size: cover;
        background-position-y: center;
        background-image: url(../img/inventory_menu.png);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inventory_row {
        display: flex;
        justify-content: space-between;
        padding: var(--global_padding);
    }
        #attack_stat {
            background-image: url(../img/sword_icon_bw.png);
            background-size: cover;
        }
        #defense_stat {
            background-image: url(../img/sheild_icon_bw.png);
            background-size: cover;
        }

        #attack_stat p, #defense_stat p {
            color: white;
            font-size: 233%;

            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }

    #backpack_menu {
        justify-content: space-evenly;
    }

        .backpack_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
            .use_button {
                background-color: var(--input_bg);

                border-radius: var(--round_edge);

                border: 2px outset rgb(97, 95, 86);
            }

/*ABILITY DESCRIPTIONS*/
        .small_box {
            width: var(--larger-box-width);
            height: auto;

            margin-top: var(--global_margin);

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        dl {
            margin: var(--global_margin);
            font-size: .90rem;
        }

        .ability_desc_box {
            margin: .5rem;

            display: flex;
            flex-direction: row;
        }
        
        /*image for box*/
        .ability_desc_box img {
            width: 30px;
            height: 30px;
        }

        /*the descriptions*/
        .descriptions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;
        }
            dt, .item_box p {
                color: black;
                text-shadow: 0px 0px 1px white;
                font-weight: bold;
            }

            dd {
                font-size: .75rem;
                color: black;
            }

/*FOOTER*/
        footer {
            align-self: flex-end;
            margin: var(--global_margin);
            margin-right: 2rem;
        }