/*GLOBAL DECLARATIONS*/
    /*IMPORTED FONTS
    font-family: 'Aclonica', sans-serif;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Marcellus SC', serif;
    font-family: 'Reggae One', cursive;
    font-family: 'Sigmar One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Creepster', cursive;
    if you import a font add it here^^^
    */

    :root {
        /*color variables*/
        --main_text: whitesmoke;
        --main_bg_color: black;
        --secondary_bg_color: rgb(29, 29, 29);
        --tertiary_bg_color: rgb(20, 0, 0);
        --border_color: rgb(63, 0, 0);
        --highlight: rgba(255, 145, 0, 0.527);
        --input_color: rgb(209, 206, 190);
        --input_border: rgb(102, 98, 75);
        --input_bg: rgb(58, 55, 40);

        /*sizing variables*/
        --global_margin: .5rem;
        --global_padding: .5rem;
        --round_edge: 10px;
        --rounder_edge: 25px;
        --border_size: 3px;
    }

    * {
        padding: 0;
        margin: 0;
        color: var(--main_text);
        font-family: 'Roboto', sans-serif;
    }

    body {
        height: 100%;
        background-color: var(--main_bg_color);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

/*FOR BUTTONS AND INPUTS*/

    input, button, select {
        padding: var(--global_padding);
        margin: var(--global_margin);
        min-width: 136px;

        font-size: 1.25rem;
        font-family: 'Marcellus SC', serif;
        font-weight: bold;

        background-color: var(--tertiary_bg_color);

        border-radius: var(--round_edge);
        border-style: solid;
        border-color: var(--border_color);
    }

    .submit_button, button {
        cursor: pointer;
        font-size: 1.25rem;
        background-image: url(../img/flesh_texture_trans_15.png);
    }

        button:hover {
            background-image: url(../img/flesh_texture_trans_50.png);
            -moz-box-shadow: inset 0 0 10px var(--highlight);
            -webkit-box-shadow: inset 0 0 10px var(--highlight);
            box-shadow: inset 0 0 10px var(--highlight);
        }

        .submit_button:hover {
            background-image: url(../img/flesh_texture_trans_50.png);
            -moz-box-shadow: inset 0 0 10px var(--highlight);
            -webkit-box-shadow: inset 0 0 10px var(--highlight);
            box-shadow: inset 0 0 10px var(--highlight);
        }
    
    .submit_button {
        font-size: 1.5rem;
        font-family: 'Marcellus SC', serif;
        font-weight: bold;
        width: 266px;
        margin-top: 24px;
    }

    .label {
        font-size: 1.5rem;
        font-family: 'Marcellus SC', serif;
    }

    input {
        text-align: center;
    }

    input[type="password"] {
        -webkit-text-security: disc;
        -moz-text-security: disc;
    }

    .user_input_form {
        color: var(--input_color);
        background-color: var(--input_bg);
        border-color: var(--input_border);
    }

    /*GLOBAL LINK STYLES*/
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-shadow: 2px 2px 7px var(--highlight);
        }

/* DESKTOP DISPLAY */

/* MAIN DECLARATIONS */

    main {
        margin: 0px auto;
        max-width: 720px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        text-align: center;

        height: 600px;
        background-image: url(../img/dungeon_wall_dim_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        h1 {
            font-size: 400%;
            font-family: 'Creepster', cursive;
            text-shadow: 4px 4px rgb(68, 0, 0);
            color: rgb(202, 0, 0);
            letter-spacing: 6px;
        }

        main h2 {
            font-size: 300%;
            font-family: 'Marcellus SC', serif;
            text-shadow: 3px 3px var(--secondary_bg_color);
        }

    /*ALL FOR STORY HOOK BOX*/
        #story_hook {
            display: flex;
            align-items: center;
        }

        img {
            width: 100px;
            height: 120px;
        }

        p {
            text-indent: 1rem;
            font-family: 'Roboto', sans-serif;
            text-shadow: 2px 2px var(--secondary_bg_color);
        }

    /*EXTEND MENU BUTTONS*/
        #menu_buttons button {
            min-width: 255px;
            font-size: 1.5rem;
        }

    /*DIV ROW*/
        .row_wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

    /* PALADIN LOGIN ICON */
        .palyImg{
            display: flex;
            justify-content: center;
        }

    /* RIP Headstone */
        .RIP{
            height: 240px;
            width: 200px;
        }