:root {
    /*color variables*/
    --main_text: whitesmoke;
    --main_bg_color: black;
    --secondary_bg_color: rgb(29, 29, 29);
    --tertiary_bg_color: rgb(48, 35, 20);
    --border_color: rgb(48, 35, 20);
    --header_bg: var(--border_color);
    --highlight: rgba(255, 145, 0, 0.527);
    --input_color: rgb(209, 206, 190);
    --input_border: rgb(102, 98, 75);
    --input_bg: rgb(58, 55, 40);
    --wood_panel_color: rgb(136, 103, 60);
    --worldmap_color: rgb(122, 0, 0);

    /*sizing variables*/
    --global_margin: .5rem;
    --global_padding: .5rem;
    --round_edge: 10px;
    --rounder_edge: 25px;
    --border_size: 3px;
    --button-width: 255px;
}

* {
    background-color: black;
    padding: 0;
    margin: 0;
    color: var(--main_text);
    font-family: 'Roboto', sans-serif;
}

/*WORLD MAP BUTTON*/
    #world_map {
        margin: 0 auto;
        width: 1000px;
        height: 850px;
        background-size:inherit ;
        background-image: url(../img/Erenia_Map.png);

        box-shadow:
        0px 0px 0px 3px rgba(48, 35, 20, 0.666),
        0px 0px 0px 6px rgba(48, 35, 20, 0.333),
        inset 0 0 10px var(--highlight);
    }

    h1{
        margin: 5px 0 12px;
        text-align: center;
        font-family: 'Marcellus SC', serif;
        text-shadow: 3px 3px var(--secondary_bg_color);
    }

    #charIcon{
        background-color: transparent;
        height: 60px;
        position: relative;
        left: 490px;
        bottom: 230px;
    }

    .locationIcons{
        background-color: transparent;
        height: 50px;
        position: relative;
        left: 830px;
        bottom: 380px;
    }

    .home{
        height: 40px;
        width: 40px;
        background-color: transparent;
        position: relative;
        bottom: 255px;
        left: 505px;
    }

    /* Firefox old*/
@-moz-keyframes blink {
0% {
    opacity:1;
}
25%{
    opacity: .5;
}
50% {
    opacity:0;
}
75%{
    opacity: .5;
}
100% {
    opacity:1;
}
} 

@-webkit-keyframes blink {
0% {
    opacity:1;
}
25%{
    opacity: .5;
}
50% {
    opacity:0;
}
75%{
    opacity: .5;
}
100% {
    opacity:1;
}
}
/* IE */
@-ms-keyframes blink {
0% {
    opacity:1;
}
25%{
    opacity: .5;
}
50% {
    opacity:0;
}
75%{
    opacity: .5;
}
100% {
    opacity:1;
}
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
0% {
    opacity:1;
}
25%{
    opacity: .5;
}
50% {
    opacity:0;
}
75%{
    opacity: .5;
}
100% {
    opacity:1;
}
} 
.locationIcons {
-moz-animation: blink normal .5s infinite ease-in-out; /* Firefox */
-webkit-animation: blink normal .5s infinite ease-in-out; /* Webkit */
-ms-animation: blink normal .5s infinite ease-in-out; /* IE */
animation: blink normal .5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}