/*GLOBAL DECLARATIONS*/
    /*IMPORTED FONTS
    font-family: 'Aclonica', sans-serif;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Marcellus SC', serif;
    font-family: 'Reggae One', cursive;
    font-family: 'Sigmar One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kaushan Script', cursive;
    if you import a font add it here^^^
    */
    :root {
        /*color variables*/
        --main_text: whitesmoke;
        --main_bg_color: black;
        --secondary_bg_color: rgb(29, 29, 29);
        --tertiary_bg_color: rgb(48, 35, 20);
        --border_color: rgb(48, 35, 20);
        --header_bg: var(--border_color);
        --highlight: rgba(255, 145, 0, 0.527);

        --input_color: rgb(209, 206, 190);
        --input_border: rgb(102, 98, 75);
        --input_bg: rgb(58, 55, 40);

        --wood_panel_color: rgb(136, 103, 60);
        --worldmap_color: rgb(122, 0, 0);

        --display_color: rgba(209, 206, 190, 0.33);
        --display_border: rgb(145, 128, 32);

        /*sizing variables*/
        --global_margin: 1rem;
        --global_padding: 1rem;
        --round_edge: 10px;
        --rounder_edge: 25px;
        --edge_inner: 22px;
        --border_size: 3px;
        --button-width: 255px;
        --box-width: 76px;
    }

* {
    background-color: black;
    padding: 0;
    margin: 0;
    color: var(--main_text);
    font-family: 'Roboto', sans-serif;
}

/*TJK EDIT*/
.wrapper {
    margin-top: 2rem;
}


/*WORLD MAP BUTTON*/
    #world_map {
        margin: 0 auto;
        width: 1000px;
        height: 850px;
        background-size:inherit ;
        background-image: url(../img/Erenia_Map_To_Helm.png);

        box-shadow:
        0px 0px 0px 3px rgba(48, 35, 20, 0.666),
        0px 0px 0px 6px rgba(48, 35, 20, 0.333),
        inset 0 0 10px var(--highlight);

    }

    h1{
        margin: 5px 0 12px;
        text-align: center;
        font-family: 'Marcellus SC', serif;
        text-shadow: 3px 3px var(--secondary_bg_color);
    }
    .dangerAlert{
        background-color: transparent;
        height: 50px;
        position: relative;
        left: 830px;
        bottom: 524px;
        z-index: 500;
    }
    .locationSelection{
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        bottom: 477px;
        left: 790px;
        z-index: 500;
        opacity: 65%;
    }
    .home{
        height: 25px;
        width: 25px;
        background-color: whitesmoke;
        border-radius: 50%;
        position: relative;
        bottom: 382px;
        left: 557px;
        opacity: 65%;
    }
    .locationMarker1, .locationMarker2, .locationMarker3,
    .locationMarker4, .locationMarker5, .locationMarker6,
    .locationMarker7{
        height: 25px;
        width: 25px;
        background-color: black;
        border-radius: 50%;
        position: relative;
        opacity: 65%;
    }
    .locationMarker1{
        bottom: 480px;
        left: 340px;
    }
    .locationMarker2{
        bottom: 645px;
        left: 456px;
    }
    .locationMarker3{
        bottom: 496px;
        left: 466px;
    }
    .locationMarker4{
        bottom: 712px;
        left: 233px;
    }
    .locationMarker5{
        bottom: 587px;
        left: 94px;
    }
    .locationMarker6{
        bottom: 635px;
        left: 629px;
    }
    .locationMarker7{
        bottom: 781px;
        left: 753px;
    }
    #avatar{
        height: fit-content;
        width: 400px;
        height: 10px;
        background-color: transparent;
        position: relative;
        bottom: 310px;
        left: 570px;
    }
    #charIcon{
        background-color: transparent;
        height: 60px;
        position: absolute;
        z-index: 1000;
    }
    #exit {
        position: relative;
        padding: 5px;
        bottom: 350px;
        left: 20px;
        min-width: 150px;
        font-size: 1.5rem;
        opacity: 75%;
        font-family: 'Marcellus SC', serif;
        font-weight: bold;
        background-color: var(--tertiary_bg_color);
        border-color: var(--border_color);
        border-radius: var(--round_edge);
    }
    button {
        position: relative;
        padding: 5px;
        bottom: 350px;
        left: 660px;
        min-width: 150px;
        font-size: 1.5rem;
        opacity: 75%;
        font-family: 'Marcellus SC', serif;
        font-weight: bold;
        background-color: var(--tertiary_bg_color);
        border-color: var(--border_color);
        border-radius: var(--round_edge);
    }



    #combatOptions{
        background-color: transparent;
        height: 210px;
        position: absolute;
        bottom: 33%;
        left: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /*TJK EDIT*/
    #combatOptions a {
    border-radius: var(--round_edge);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.333);
    }

    .rtT, .fight{
        bottom: auto;
        left: auto;
        position: relative;
        padding: 10px;
        opacity: 1;
        width: fit-content;
    }

    .close {
        position:relative;
        bottom: auto;
        left: auto;
        opacity: 1;
        font-size: 1rem;
        min-width: 30px;
        max-width: 30px;
        height: 30px;
    }


    button:hover {
        -moz-box-shadow: inset 0 0 10px var(--highlight);
        -webkit-box-shadow: inset 0 0 10px var(--highlight);
        box-shadow: inset 0 0 10px var(--highlight);
    }
    /* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    25%{
        opacity: .5;
    }
    50% {
        opacity:.25;
    }
    75%{
        opacity: .5;
    }
    100% {
        opacity:1;
    }
    } 
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    25%{
        opacity: .5;
    }
    50% {
        opacity:.25;
    }
    75%{
        opacity: .5;
    }
    100% {
        opacity:1;
    }
    } 
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    25%{
        opacity: .5;
    }
    50% {
        opacity:.25;
    }
    75%{
        opacity: .5;
    }
    100% {
        opacity:1;
    }
    } 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    25%{
        opacity: .5;
    }
    50% {
        opacity:.25;
    }
    75%{
        opacity: .5;
    }
    100% {
        opacity:1;
    }
    } 
.locationSelection{
    -moz-animation: blink normal 4s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 4s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 4s infinite ease-in-out; /* IE */
    animation: blink normal 4s infinite ease-in-out; /* Opera and prob css3 final iteration */
    }
.dangerAlert {
-moz-animation: blink normal .5s infinite ease-in-out; /* Firefox */
-webkit-animation: blink normal .5s infinite ease-in-out; /* Webkit */
-ms-animation: blink normal .5s infinite ease-in-out; /* IE */
animation: blink normal .5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}