<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<!--                                            MAIN CONTAINER                                          -->
    <div class="container">

<!--                                         OPEN LEFT CONTAINER                                         -->
        <div class="leftContainer">

<!--                                         Combat header div                                          -->
            <div class="combatHeader">
                <div class="retreat">
                    <button>Retreat</button>
                </div>
                <div class="advance">
                    <button>Advance</button>
                </div>
            </div>

<!--                                            Main combat area div                                     -->
            <div class="combatScreen">
                <img src="/" alt="Main combat area rendered here">
            </div>

<!--                                            Spell selection div                                     -->
            <div class="spellSelections">
                <div class="basicAtk"><button>Basic Attack</button></div>
                <div class="spell1"><button>Martial Strike</button></div>
                <div class="spell2"><button>Divine Smite</button></div>
                <div class="spell3"><button>Aura of Protection</button></div>
                <div class="spell4"><button>Fist of Heavens</button></div>
            </div>

<!--                                            Activity Feed div                                    -->
            <div class="feed_container">
                <div class="activityFeed">
                    <textarea name="activity_feed" id="activity_feed" cols="80" rows="10">
                        I AM GOING TO DESTROY YOU
                    </textarea>
                </div>
            </div>
        </div>
<!--                                               CLOSE OVERALL LEFT CONTAINER                                               -->


<!--                                                 RIGHT OVERALL CONTAINER                                                     -->
        <div class="right_container">

<!--                                          Inventory Equipment and Backpack area and images                                           -->
        <div class="inventory">
            <div class="equipment">
                <img src="/" alt="Image of your sword">
                <img src="/" alt="Image of your shield">
                <img src="/" alt="Image of your set of armor">
            </div>
            <div class="backpack">
                <img src="/" alt="an image of a potion">
                <img src="/" alt="an image of a potion">
                <img src="/" alt="an image of a potion">
                <img src="/" alt="an image of a potion">
            </div>
        </div>

<!--                                                    Combat Stats Display                                                 -->
            <div class="combatStats">
                <textarea name="combat stats" id="combatStats" cols="40" rows="5">
                    I AM GOING TO DESTROY YOU
                </textarea>
            </div>

<!--                                                    Area progess tracker                                                 -->
            <div class="levelProgression">
                <img src="/" alt="the level progress tracker will go here">
            </div>

            <!--                                         CLOSE RIGHT CONTAINER                                               -->
        </div>

<!--                                                     CLOSE OVERALL CONTAINER                                              -->
    </div>

</body>
</html>