<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <section class="get-in-touch">
        <div>
        <video width = "300" height = "300" controls autoplay>
            <source src = "../static/img/Day_2" alt = "This is a Video of our work over the text few days.">
        </video>
        <p>Monday update: OverWhelmed, but Optomistic</p>
        </div>
    </section>
</body>
</html>