<!DOCTYPE html>
<html lang="en">
<!---->
<!--Working Title: Erenia in Peril-->
<!--By Preston, TJ, Austin, and Micah-->
<!--April 2021-->
<!---->
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/combat.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/paladin_pixel.png') }}">
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
    <!--Title-->
    <title>Ghoul Grinder</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <!-- TODO: shows game title, shows name of area below, has a button to end session-->
        </header>
        <main>
            <!--Each column has sections. Sections are our boxes.-->
            <div class="column">
                <!-- TODO: left column shows the main fight screen, the interaction menu, and the activity feed, NOTE: display the health bar below or above the character model?-->
                <section id="fight_main">
                </section>
                <section id="interaction_menu">
                    <!--Player Actions-->
                    <form action="/player_action" id="action_1" method="post" class="button_box">
                        <input type="hidden" name="option" value="action_1">
                        <input id="action_1_button" name="action_1" type="submit" value="Action 1">
                    </form>
                    <form action="/player_action" id="action_2" method="post" class="button_box">
                        <input type="hidden" name="option" value="action_2">
                        <input id="action_2_button" name="action_2" type="submit" value="Action 2">
                    </form>
                    <form action="/player_action" id="action_3" method="post" class="button_box">
                        <input type="hidden" name="option" value="action_3">
                        <input id="action_3_button" name="action_3" type="submit" value="Action 3">
                    </form>
                    <form action="/player_action" id="action_4" method="post" class="button_box">
                        <input type="hidden" name="option" value="action_4">
                        <input id="action_3_button" name="action_4" type="submit" value="Action 4">
                    </form>
                    <form action="/player_action" id="action_4" method="post" class="button_box">
                        <input type="hidden" name="option" value="action_5">
                        <input id="action_5_button" name="action_5" type="submit" value="Action 5">
                    </form>
                </section>
                <section id="activity_feed">
                    <div class="section_header">
                    </div>
                    <div class="section_content">
                        <!-- <ul>
                            {% for activities in session['activities'] %}
                                <li> {{activities}} </li>
                            {% endfor %}
                        </ul> -->
                    </div>
                </section>
            </div>
            <div class="column">
                <!-- TODO: right column shows the main inventory menu which has two divs, and the map below it. Shows current armor rating and current attack/damage stat to the right and left of the head, respectively.-->
                <section id="inventory_menu">
                    <div id="equippable_menu">
                        <div class="section_header">
                        </div>
                        <div class="section_content">
                            <div class = "sword"><a href="equipment_upgrade">sword</a></div>
                            <div class = "shield"><a href="equipment_upgrade">shield</a></div>
                            <div class = "armor"><a href="equipment_upgrade">armor</a></div>
                        </div>
                    </div>
                    <div id="backpack_menu">
                    <!-- TODO: shows four slots, possibility to go up to 6 slots but they don't appear until later.-->
                        <div class="section_header">
                        </div>
                        <div class="section_content">
                        </div>
                    </div>
                </section>
                <section class="map">
                </section>
            </div>
        </main>
    </div>
</body>
</html>