<!--Working Title: Erenia in Peril-->
<!--By Preston, TJ, Austin, and Micah-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--Google Fonts-->
    <!--@TJK-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
    <!--Title-->
    <title>Erenia in Peril</title>
</head>
<body>
    <div class="wrapper">
        <header>
        </header>
        <main>
            <div class="column">
                <section id="fight_main">
                </section>
                <section id="interaction_menu">
                </section>
                <section id="activity_feed">
                </section>
            </div>
            <div class="column">
                <section id="inventory">
                </section>
                <section id="map">
                </section>
            </div>
        </main>
    </div>
</body>
</html>