<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
<div id="page">
    <div class="navBar">
        <div class="nav-R">
            <div class="login">
                <button>Login</button>
            </div>
            <div class="register">
                <button>Register</button>
            </div>
        </div>
    </div>


    <div class="landingContainer">
        <div class="gameInfo">
            <div class="title">
                <h1>EPIC GAME TITLE HERE</h1>
            </div>
            <div class="gameDesc">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum vero nulla, aliquam numquam autem omnis magni debitis porro corporis eos culpa suscipit necessitatibus mollitia nesciunt possimus natus iusto quam veritatis sint nam tempora asperiores praesentium in? Sint eum facilis quos voluptatem optio rem ut laboriosam? Doloribus officiis tempora eveniet mollitia.</p>
            </div>
        </div>

        <div class="landingOptions">
            <div class="landingButton">
                <button class="mainBtn1">Play</button>
            </div>
            <div class="landingButton">
                <button class="mainBtn2">Credits</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>