<!DOCTYPE html>
<html lang="en">
<!---->
<!--Working Title: Erenia in Peril-->
<!--By Preston, TJ, Austin, and Micah-->
<!--April 2021-->
<!---->
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/paladin_pixel.png') }}">
    <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet"> 
    <!--Title-->
    <title>Ghoul Grinder</title>
</head>
<body>
    <!--Copy this into body-->
    <div class="wrapper">
        <main>
            <h1>Ghoul Grinder</h1>
                <div id="story_hook">
                    <img src="https://i.gifer.com/Km1q.gif">
                        <p>Erenia is in peril! The war against the Drow King, Kwua Ven, has reached a turning point. The finest paladins of Emperor Harrad were called to court a week ago. Little did they know they were being called to their <em>dooms!</em> The knights entered the chamber to find their emperor's head upon Kwua Ven's pike! It took only moments for the finest men of Erenia to join the undead legions of the dark lord. You, brave knight, are our only hope against this evil! Take up your sword and grind those ghouls to dust.</p>
                    <img src="https://i.gifer.com/Km1q.gif">
                </div>
            <div id="menu_buttons">
                <a href="/register"><button type="button">New Game</button></a>
                <br>
                <a href="/login"><button type="button">Continue</button></a>
                <br>
                <a href="/credits"><button type="button">View Credits</button></a>
            </div>
        </main>
    </div>
</body>
</html>