<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavern</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tavern.css') }}">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="left">
                <a href = "/tavern"><button>return</button></a>
            </div>
        <div class="bottom">
            <div class="feed">
                <img src = "/templates/map.html">
            </div>
            <a href = "/combat/start"><button>fight</button></a>
        </div>
    </div>
</body>
</html>