<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <section class="get-in-touch">
       <h1 class="title">Register</h1>
       <form class="contact-form row" action="/register" method="post">
          <div class="form-field col-lg-12">
              <label class="label" for="username">Username</label>
             <input id="username" name="username" class="input-text js-input" type="text">
          </div>
           <div class="form-field col-lg-12 ">
               <label class="label" for="password">Password</label>
             <input id="password" name="password" class="input-text js-input" type="text">
          </div>
          <div class="form-field col-lg-12">
              <label class="label" for="confirm_password">Confirm Password</label>
             <input id="confirm_password" name="confirm_password" class="input-text js-input" type="text">
          </div>
          <div class="form-field col-lg-12">
             <input class="submit-btn" type="submit" value="Register">
             <a href="/display_login">Login</a>
          </div>
          
       </form>
       {% with messages = get_flashed_messages() %}
            {% if messages %} 
                {% for message in messages %}
                                <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
</body>
</html>