<!DOCTYPE html>
<html lang="en">
<!---->
<!--Working Title: Erenia in Peril-->
<!--By Preston, TJ, Austin, and Micah-->
<!--April 2021-->
<!---->
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/paladin_pixel.png') }}">
    <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
    <!--Title-->
    <title>Ghoul Grinder</title>
</head>
<body>
    <main>
        <h2>Create Your Character</h2>
                <form action="/register/processing" method="post">
                    <div>
                        <label class="label" for="username">Character Name</label>
                        <br>
                        <input class="user_input_form" id="username" name="username" type="text">
                    </div>
                    <div>
                        <label class="label" for="password">Password</label>
                        <br>
                        <input class="user_input_form" id="password" name="password" type="password">
                    </div>
                    <div>
                        <label class="label" for="confirm_password">Confirm Password</label>
                        <br>
                        <input class="user_input_form" id="confirm_password" name="confirm_password" type="password">
                    </div>
                    <div class="row_wrap">
                        <img src="https://i.gifer.com/Km1q.gif">
                        <input type="submit" class="submit_button" value="Begin Your Journey">
                        <img src="https://i.gifer.com/Km1q.gif">
                    </div>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %} 
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    </main>
</body>
</html>