<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavern</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tavern.css') }}">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="left">
                <a href = "/tavern/rest"><button>Rest</button></a>
                <a><button>Buy</button></a>
            </div>
            <div class="center">
                <img src="#" alt="image of tavern">
            </div>
            <div class="right">
                <button>Inventory</button>
                <button>World Map</button>
            </div>
        </div>
        <div class="bottom">
            <div class="feed">
                <textarea name="activity_feed" id="activity_feed" cols="120" rows="10"></textarea>
            </div>
        </div>
    </div>
</body>
</html>