<!DOCTYPE html>
<html lang="en">
<!---->
<!--Working Title: Erenia in Peril-->
<!--By Preston, TJ, Austin, and Micah-->
<!--April 2021-->
<!---->
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tavern.css') }}">
    <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <!--Title-->
    <title>Working Title: Tavern</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>The Inn at Newport</h1>
            <!--Change newport to flask variable that displays current area-->
        </header>
        <main>
            <div class="row_wrap" id="tavern_top">
                <div id="tavern">
                    <div id="barmaid">
                        <img src="{{ url_for('static', filename='img/bar_maid.png') }}">
                    </div>
                    <div id="shopkeep" visibility: hidden>
                        <!--hidden shopkeep who replaced barmaid-->
                    </div>
                </div>
                <div class="column_wrap" id="tavern_menu">
                    <button>Inventory</button>
                    <a href = "/render/shop"><button>Shop</button></a>
                    <a href = "/tavern/rest"><button>Rest</button></a>
                        <div class="hr_break"></div>
                    <a href = "/map"><button id="world_map_button">World Map</button></a>
                </div>
                <div id="inventory_menu" visibility: hidden>
                    <!--this is the hidden inventory div-->
                </div>
            </div>
            <div id="tavern_lower_box">
                <div id="tavern_activity_feed">
                        <ul>
                            {% for activities in session['activities'] %}
                                <li> {{activities}} </li>
                            {% endfor %}
                                <li>This is to test the activity feed font and styling</li>
                                <li>Still messing w this</li>
                                <li>testeteststststststs</li>
                                <li>testeteststststststs</li>
                                <li>testeteststststststs</li>
                                <li>testeteststststststs</li>
                                <li>testeteststststststs</li>
                                <li>testeteststststststs</li>
                                <li>should be off the box</li>
                        </ul>
                </div>
                <div id="tavern_shop" visibility: hidden>
                    <p>test</p>
                    <!--this is the hidden shop div-->
                    <!--hides the list feed and replaces it-->
                </div>
            </div>
            <footer>
                <a href="/logout"><button id="exit">Exit Game</button></a>
            </footer>
        </main>
    </div>
</body>
</html>