<!DOCTYPE html>
<html lang="en">
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Links-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/paladin_pixel.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee+Inline&family=Marcellus+SC&family=Reggae+One&family=Sigmar+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
    <!--Title-->
    <title>Ghoul Grinder</title>
</head>
<body>
    <!--Copy this into body-->
    <div class="wrapper">
        <main>
            <h2>Welcome Paladin!</h2>
            <div class="palyImg">
                <img class="palyImg" src="static/img/paladin_pixel.png" alt="">
            </div>
                <div id="story_hook">
                    <img src="https://i.gifer.com/Km1q.gif">
                    <h2>Begin Adventure?</h2>
                    <img src="https://i.gifer.com/Km1q.gif">
                </div>
            <div id="menu_buttons">
                <a href="/tavern/start"><button type="button">Yes</button></a>
                <br>
                <a href="/"><button type="button">No</button></a>
                <br>
            </div>
        </main>
    </div>
</body>
</html>